body {
  margin: 0;
  background: #222;
  font-family: system-ui;
  display: grid;
  place-content: start;
  justify-content: start;
  padding-top: 40px;
  padding-left: 20px;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 8px;
}